.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.shoeInfo {
  box-shadow: 2px 8px 20px #ddd !important;
  margin: auto;
  width: 800px;
  min-height: 300px !important;
  display: flex;
  padding: 1rem;
  margin: 0;
}

.image img {
  background-position: center;
  background-size: cover;
  max-height: 340px;
  min-width: 100%;
  margin: 0;
}

.text {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: red;
  margin: 20px 0 0 0;
}

.title h1 {
  margin: 10px 0 0 0;
}

.title {
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: 5px 1rem;
}

.info {
  padding: 0 1rem;
}

.test {
  display: flex;
  justify-content: space-between;
}

.colors {
  display: flex;
  width: 100%;
  margin: 1rem 1rem;
}

.colorsButton {
  cursor: pointer;
  box-shadow: 0px 1px 1px #ddd !important;
  text-decoration: none;
  border: none;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.button {
  padding: 4rem 2rem 1rem 2rem;
}

.button button:hover,
.button a:hover {
  background-color: var(--color);
  transition: 0.1s;
}

.button button,
.button a {
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  margin: 10px 0 0 0;
  background-color: var(--dark);
  padding: 14px;
}

.addButton {
  margin: 5px 0 0 0;
  padding: 0 1rem 1rem 1rem;
}

@media (max-width: 768px) {
  .shoeInfo {
    width: 80%;
    flex-direction: column;
    text-align: center;
  }
  .text {
    padding-left: 0;
  }
  .colors {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
  }
  .title {
    padding: 5px 1rem;
    justify-content: space-evenly;
  }
  .wrapper {
    margin-top: 5rem;
  }
  .shoeInfo p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
