.wrapper {
  color: var(--dark);
  display: flex;
  justify-content: center;
  box-shadow: 2px 8px 20px #ddd !important;
  padding: 1rem;
  margin: 4rem auto 1rem;
  height: 100%;
  width: 90%;
}

.about {
  width: 100%;
  background-color: var(--beige);
  padding: 2rem;
}

.heading h1 {
  border-bottom: 1px solid grey;
  font-size: 4rem;
  margin: 0 0 2.5rem 0;
}

.aboutInfo {
  width: 60%;
}

.aboutInfo p {
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
}

.button a:hover {
  background-color: var(--color);
  transition: 0.2s;
  text-decoration: none;
}

.button a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  margin: 10px 0 0 0;
  background-color: var(--dark);
  padding: 14px;
}

@media (max-width: 768px) {
  .aboutInfo {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .about {
    padding: 2rem 1rem;
  }
  .heading {
    text-align: center;
    border: 60%;
  }
}
