.wrapper {
  padding: 0 1rem 1rem 1rem;
}
.imageDiv {
  opacity: 0.9;
  background-image: url("../../images/shoes.jpg");
  background-position: center;
  background-size: cover;
  height: 86vh;
  margin: auto;
  padding: 1rem;
}

.heading h1,
h3 {
  margin: 0;
  color: var(--dark);
}

.heading {
  padding: 2rem 0 0 1rem;
}

.imageDiv h1 {
  font-size: 4rem;
}

.imageDiv h3 {
  font-size: 1.2rem;
}

.button {
  padding: 2rem 1.5rem;
}

.button a:hover {
  background-color: var(--color);
  transition: 0.1s;
}

.button a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  margin: 10px 0 0 0;
  background-color: var(--dark);
  padding: 14px;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .heading h3 {
    font-size: 1rem;
  }
  .wrapper {
    padding: 4rem 1rem 1rem 1rem;
  }
}
