@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --beige: rgb(247, 247, 247);
  --primary: rgb(218, 221, 220);
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --color: rgb(6, 212, 219);
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: var(--light);
  margin: 0;
  line-height: 1.4;
  scroll-behavior: smooth;
}
