.title h1 {
  color: var(--dark);
  font-size: 2.2rem;
  font-weight: bolder;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.links ul {
  display: flex;
}

.links li {
  font-weight: 400;
  font-size: 1.4rem;
  list-style: none;
  margin: 10px;
}

.links a {
  color: var(--dark);
  text-decoration: none;
}

.links a:hover {
  color: var(--color);
  transition: 0.1s;
}

.links span {
  z-index: -1;
}

.cartNumber {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color);
  padding: 3px;
  top: 20px;
  margin-left: 17px;
  color: var(--light);
}
